.card-color {
    background: #6C5B7B !important;
}

.pad {
    margin-top: 100px;
}

.card-effect:hover{
    box-shadow: 0 0 5px black;
}

a {
    color: red !important;
}

a:hover {
    text-decoration: none;
}