body {
    background: #355C7D !important;
    font-family: "Noto Sans HK", sans-serif;
    max-height: 1 vh - 2rem;
    max-width: 98%;
  }
.grey-low {
    color: black !important;    
}

.dark-purple {
    color: black !important;
    
}
