body {
    background: #9e50bf !important;
    font-family: "Noto Sans HK", sans-serif;
    max-height: 1 vh - 2rem;
  }
.grey-low {
    color: #882eaf !important;    
}

input[text] {
    color: #882eaf !important; 
}

.dark-purple {
    color: #ffd700 !important;    
}

