.default-bg-color {
    background: #6C5B7B !important;
}

.default-text-color {
    color: #6C5B7B !important;
}

.pad {
    margin-top: 100px;
}

.a:hover{
    box-shadow: 0 0 50px white;
}

a {
    color: black !important;
}

.header {
    font-size: 20px;
}