.footer {
    position: fixed;
    height: 50px;
    background-color: #6C5B7B;
    margin-top: 10px;
    color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
}