.default-bg-color {
    background: #7908aa !important;
}

.default-text-color {
    color: #ffd700 !important;
}

.pad {
    margin-top: 100px;
}

.a:hover{
    box-shadow: 0 0 50px white;
}

a {
    color: #9e50bf !important;
}

.header {
    font-size: 20px;
}
